* {
			transition: 0.5s;
		}
		body {
			margin: 0;
			padding: 0;
		}
		.nva {
			width: 100%;
			background: #999;
			box-shadow: 0 0 0.5vw 0.3vw #999;
			overflow: hidden;
		}
		.logo {
			float: left;
			font-size: 3.5vw;
			font-weight: 700;
			position: relative;
			left: 2%;
			color: white;
		}
		.cont li {
			list-style-type: none;
			float: right;
			position: relative;
			right: 2%;
		}
		.cont li div {
			display: inline-block;
			font-size: 1.5vw;
		}
		.cont li a {
			text-decoration: none;
			color: white;
			font-size: 1.5vw;
			padding: 1vw 1vw;
		}
		.cont li a:hover {
			background: #777;
			color: yellow;
			border-radius: 20%;
		}
.all {
		width: 40%;
		margin: auto;
		border: 0.3vw solid #555;
		padding: 0;
		overflow: hidden;
		border-radius: 2%;
		position: relative;
	}
	.headr {
		display: block;
		background: #555;
		padding: 1vw 2vw;
		position: relative;
		text-align: center;
		font-size: 2vw;
		font-weight: bold;
		color: white;
	}
	.label {
		width: 25%;
		display: inline-block;
		float: left;
		font-weight: bold;
	}
	.label~input {
		width: 70%;
		display: inline-block;
		border: none;
		background: #999;
	}
	.label, .label~input {
		padding: 0.8vw 0.5vw;
		font-size: 1.5vw;
	}
	.sbmit {
		width: 50%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 0.6vw;
		margin: 0.5vw 0 1vw 0;
		background: #555;
		color: white;
		text-align: center;
		border: none;
		font-size: 1.5vw;
		border-radius: 2%;
	}
	.sbmit:hover {
		background: linear-gradient(to right bottom ,#555,#999);
	}
