<style type="text/css">
		* {
			transition: 0.5s;
		}
		body {
			margin: 0;
			padding: 0;
		}
		.nva {
			width: 100%;
			background: #999;
			box-shadow: 0 0 0.5vw 0.3vw #999;
			overflow: hidden;
		}
		.logo {
			float: left;
			font-size: 3.5vw;
			font-weight: 700;
			position: relative;
			left: 2%;
			color: white;
		}
		.cont li {
			list-style-type: none;
			float: right;
			position: relative;
			right: 2%;
		}
		.cont li div {
			display: inline-block;
			font-size: 1.5vw;
		}
		.cont li a {
			text-decoration: none;
			color: white;
			font-size: 1.5vw;
			padding: 1vw 1vw;
		}
		.cont li a:hover {
			background: #777;
			color: yellow;
			border-radius: 20%;
		}
	</style>