{% extends 'header.html' %}
{% block content %}
<form>
	<div class="all">
		<div class="headr">SIGNUP</div>
	<div class="cont2">
		<span class="label">User Name : </span>
		<input type="text" name="fname">
	</div>
	<div class="cont2">
		<span class="label">First Name : </span>
		<input type="text" name="">
	</div>
	<div class="cont2">
		<span class="label">Last Name : </span>
		<input type="text" name="">
	</div>
	<div class="cont2">
		<span class="label">Email : </span>
		<input type="text" name="">
	</div>
	<div class="cont2">
		<span class="label">Password : </span>
		<input type="text" name="">
	</div>
	<div class="cont2">
		<span class="label">Confirm Password : </span>
		<input type="text" name="">
	</div>
	<div class="cont2">
		<span class="label">role : </span>
		<select type="text" name="">
			<option>Admin</option>
			<option>Teacher</option>
			<option>Service provider</option>
		</select>
	</div>
	<input type="submit" value="Create Account" class="sbmit">
	</div>
</form>
{% endblock %}
